:root{
  --background: #fff;
  --card-bg: #b4b4b4;
  --paragraph-text: #4e4e4e;
  --accent-color: #2e61cf;
  --link-text: #fff;
  --label-bg: #282828;
  --label-text: #fff;
  --label-shadow: #555;
  --card-shadow: #282828;
}

.dark{
  --background: #222;
  --card-bg: #444;
  --paragraph-text: #fff;
  --accent-color: #fbc539;
  --link-text: #000;
  --label-bg: #fff;
  --label-text: #282828;
  --label-shadow: #777;
  --card-shadow: #bbb;
}

body {
  margin: 15px;
  font-family: sans-serif;
  background-color: var(--background);
  background-image: url("https://www.transparenttextures.com/patterns/checkered-pattern.png");
}

#darkmode{
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
}

@media screen and (max-width: 650px) {
  #darkmode{
    background-color: var(--label-bg);
    padding: 5px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
}

.card {
  background-color: var(--card-bg);
  max-width: 400px;
  height: 650px;
  display: flex;
  flex-direction: column;
  margin: auto;
  border-radius: 20px;
  transition: box-shadow 1s ease;
}

.about-data{
  text-align: center;
  margin: 1em 1.5em;
}
.about{
  font-size: 1.1rem;
  font-family: monospace;
  color: var(--paragraph-text);
}

@media (max-width: 400px){
  .about{
    font-size: 0.95rem;
  }
}

@media (max-width: 345px){
  .about{
    font-size: 0.9rem;
  }
}

@media (max-width: 300px){
  .about{
    font-size: 0.8rem;
  }
}

.about span{
  color: var(--accent-color);
  font-weight: 600;
}

.avatar {
  max-height: 300px;
  overflow: hidden;
}

.avatar img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.info span{
    display: block;
    width: fit-content;
    margin: 1em 0;
    padding: 0.25em 0.5em 0.25em 1em;
    background-color: var(--label-bg);
    color: var(--label-text);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    transform: translateX(-7px);
    box-shadow: 1px 5px 2px var(--label-shadow);
}

.projects{
  margin-bottom: 1em;
}

table{
    margin: auto;
    border-spacing: 10px;
}

tbody{
  display: block;
  height: 140px;
  overflow-y: auto;
}

tbody::-webkit-scrollbar, tbody::-webkit-scrollbar-track {
  background: transparent;
}
tbody::-webkit-scrollbar {
  width: 5px;
}
tbody::-webkit-scrollbar-thumb {
  background: #757575;
  border-radius: 100px;
}
tbody::-webkit-scrollbar, ::-webkit-scrollbar-track {
  background: transparent;
}

tr a{
    text-decoration: none;
    background-color: var(--accent-color);
    color: var(--link-text);
    padding: 2px 5px;
    border-radius: 5px;
}

tr span{
    font-weight: 700;
    color: var(--paragraph-text);
    text-transform: capitalize;
}

tr svg{
  pointer-events: none;
}

.project-images{
  width: 90%;
}

.project img{
  width: 100%;
}

tfoot{
  text-align: center;
}

tfoot tr td{
  column-span: 3;
}

.tfoot{
  font-weight: 300;
  font-size: 0.85rem;
}

.cardFront{
  transform: rotateY(0);
  box-shadow: 7px 15px 20px var(--card-shadow);
}

.cardFront .avatar,
.cardFront .info,
.cardFront .projects{
  display: block;
  opacity: 1;
}

.cardFront .about-data{
  display: none;
  opacity: 0;
}

.cardTurningBack{
  box-shadow: 0 15px 20px var(--card-shadow);
  animation: turnCardBack 2s forwards;
}

.cardTurningBack .avatar,
.cardTurningBack .info,
.cardTurningBack .projects{
  animation: opacityDecrease 2s forwards;
}

.cardTurningBack .about-data{
  opacity: 0;
  display: none;
}

.cardBack{
  box-shadow: -7px 15px 20px var(--card-shadow);
  transform: rotateY(180deg);
}

.cardBack .avatar,
.cardBack .info,
.cardBack .projects{
  opacity: 0;
  display: none;
}

.cardBack .about-data{
  animation: opacityIncrease 1s forwards;
  transform: rotateY(180deg);
}

.cardTurningFront{
  box-shadow: 0 15px 20px var(--card-shadow);
  animation: turnCardFront 2s forwards;
}

.cardTurningFront .avatar,
.cardTurningFront .info,
.cardTurningFront .projects{
  opacity: 0;
  display: block;
  animation: opacityIncrease 1s forwards 1s;
}

.cardTurningFront .about-data{
  opacity: 0;
  display: none;
}

.hide-about{
  transition: opacity .5s;
  opacity: 0;
}

@keyframes opacityIncrease {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

@keyframes opacityDecrease {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 0;
  }
}

@keyframes opacityDecrease2 {
  0%{
    opacity: 1;
    height: 100%;
  }
  50%{
    opacity: 0;
    height: 30%;
  }
  100%{
    opacity: 0;
    height: 0;
  }
}

@keyframes turnCardBack {
  0%{
    transform: rotateY(0);
  }
  100%{
    transform: rotateY(180deg);
  }
}

@keyframes turnCardFront {
  0%{
    transform: rotateY(180deg);
  }
  100%{
    transform: rotateY(0);
  }
}